<div class="elara-landing-section">
  <h3 id="io-title">ELARA</h3>

  <div class="io-info">
    <p>In an era where the ageing population is growing rapidly, providing compassionate <br> and effective care for individuals living with dementia is paramount.</p>
    <p>Studied to strengthen soft skills to enhance empathy and deliver a patient-<br>centred approach to care, ELARA is a holistic, low-risk, highly immersive new <br> health and social care workforce approach.</p>
  </div>

  <div class="io-stats">
    <div class="io-stat">
      <h3>100<span class="percent">%</span></h3>
      <p>Very satisfied with the level of <br> proficiency of MOONHUB's ELARA <br> Dementia Care Virtual Reality Training</p>
    </div>
    <div class="io-stat">
      <h3>100<span class="percent">%</span></h3>
      <p>of trainees were confident in applying <br> the teachings of ELARA Dementia Care <br> Virtual Reality Training on-the-job</p>
    </div>
     <div class="io-stat">
      <h3>80<span class="percent">%</span></h3>
      <p>Learned more or alot more via ELARA <br> Dementia Care Virtual Reality Training than <br> previous traditional methods.</p>
    </div>
  </div>
  <div class="scroll-cta">
      <p id="io-scroll">Explore Elara's Training offering</p>
      <%= image_tag 'scroll-down', class: "scroll-icon" %>
    </div>
  </div>

<div class="page-dividers">
  <%= image_tag 'gradient-left' %>
  <%= image_tag 'gradient-right' %>
</div>

<div class="io-modules">
  <h3>ELARA TRAINING MODULE</h3>
  <div class="io-module">
    <div class="module-heading">
      <h4>DEMENTIA CARE</h4>
      <p>Our Dementia Care VR training immerses learners in real-life situations that mirror the challenges of social care <br> boosting technical knowledge and heightening emotional soft skills. The Dementia Care course is designed with a <br> person-centred approach, endorsed by Skills For Care and certified by the CPD.</p>
    </div>
    <div class="module-info">
      <div class="module-pros">
        <h5>QUALITY OF LIFE ENHANCEMENT</h5>
        <%= image_tag "DC-1" %>
        <p>Our dementia care training equips caregivers with techniques to provide personalised and respectful care.
          Patients experience improved quality of life as their unique needs and preferences are met.</p>
      </div>
      <div class="module-pros">
        <h5>REDUCE CAREGIVER STRESS</h5>
        <%= image_tag "DC-2" %>
        <p>Proper training empowers caregivers to manage behaviours associated with dementia, reducing stress and burnout. Caregivers develop strategies to cope with challenging situations, preserving their well-being.</p>
      </div>
      <div class="module-pros">
        <h5>REALISTIC PATIENT SCENARIOS</h5>
        <%= image_tag "d&i-3" %>
        <p>VR recreates realistic scenarios where caregivers can practice interacting with a person with dementia. Caregivers experience firsthand the challenges and emotions tied to dementia care, enhancing understanding and empathy.</p>
      </div>
    </div>
    <div class="module-cta">
      <p>Discover our Dementia Care training content</p>
      <%= link_to "GET IN TOUCH", "#", class: 'cta-button' %>
    </div>
  </div>
</div>
