<div class="landing-title">
  <h6>ELARA</h6>

  <div class="landing-info">
    <div class="library">
        <%= image_tag 'Moondarkside' %>
        <h5> LIBRARY </h5>
        <p> Developed by leading L&D professionals. <br><br>
          The MOONHUB Library is our industry-standard, readily available VR training solutions.<br><br><br>
          Accredited by CPD.</p>
    </div>

    <div class="studios">
      <%= image_tag 'Moonlightside' %>
      <h5> STUDIOS </h5>
      <p>Co-curated with you, for you. <br><br>
        MOONHUB Studios is your on-demand production house which translates your learning objectives into a bespoke VR training experience. <br><br>
        The power of MOONHUB, your way.</p>
    </div>
  </div>
  <div class="scroll-cta">
    <p>Explore our training offering</p>
    <%= image_tag 'scroll-down', class: "scroll-icon" %>
  </div>
</div>

<div class="page-dividers">
  <%= image_tag 'gradient-left' %>
  <%= image_tag 'gradient-right' %>
</div>
