<div class="io-landing-section">
  <h3 id="io-title">IO</h3>

  <div class="io-info">
    <p>Our suite of ever-expanding, industry-standard learning content. Consistently <br> updated with new training content from leading partners in their field.</p>
    <p>Expertly curated for all teams.</p>
    <p>Our essentials suite provides industry-standard best practices, certified by CPD.</p>
    <p>IO is a masterclass in navigating through daily workplace scenarios from Diversity and Inclusion to Health and Safety and Well-being.</p>
  </div>

  <div class="io-stats">
    <div class="io-stat">
      <h3>40<span class="percent">%</span></h3>
      <p>of VR learners saw an improvement in <br> confidence compared to those in the <br> classroom.</p>
    </div>
    <div class="io-stat">
      <h3>75<span class="percent">%</span></h3>
      <p>said that during the VR course they had a ‘wake-up-call’ moment and realised that they were not as inclusive as they thought they were.</p>
    </div>
     <div class="io-stat">
      <h3>400<span class="percent">%</span></h3>
      <p>VR learners are 4x more focused <br> than their e-learning peers.</p>
    </div>
  </div>
  <div class="scroll-cta">
      <p id="io-scroll">Explore IO's training offering</p>
      <%= image_tag 'scroll-down', class: "scroll-icon" %>
    </div>
  </div>

<div class="page-dividers">
  <%= image_tag 'gradient-left' %>
  <%= image_tag 'gradient-right' %>
</div>

<div class="io-modules">
  <h3>IO TRAINING MODULES</h3>
  <div class="io-module">
    <div class="module-heading">
      <h4>DIVERSITY & INCLUSION</h4>
      <h6>An eye-opening experience</h6>
      <p>Our D&I VR training is here to assist your organisation in ensuring you get the best out of your people.</p>
    </div>
    <div class="module-info">
      <div class="module-pros">
        <h5>MITIGATING BIAS AND STEREOTYPES</h5>
        <%= image_tag "d&i-1" %>
        <p>Diversity and inclusion training addresses unconscious biases, fostering fair treatment and reducing discrimination. Employees learn to recognise and challenge biases that may affect teamwork and creativity.</p>
      </div>
      <div class="module-pros">
        <h5>BEHAVIOURAL <br> CHANGE</h5>
        <%= image_tag "d&i-2" %>
        <p>VR's immersive nature promotes behavioural change by allowing learners to experience the impact of their words and actions. Employees internalise the importance of respectful communication and behaviours.</p>
      </div>
      <div class="module-pros">
        <h5>CULTIVATING INCLUSIVE MINDSETS</h5>
        <%= image_tag "d&i-3" %>
        <p>Diversity and inclusion training promote awareness and understanding of various backgrounds, perspectives, and experiences. Employees develop inclusive mindsets that enrich collaboration and decision-making.</p>
      </div>
    </div>
    <div class="module-cta">
      <p>Discover our Diversity & Inclusion training content</p>
      <%= link_to "GET IN TOUCH", "#", class: 'cta-button' %>
    </div>
  </div>
  <div class="io-module">
    <div class="module-heading">
      <h4>WORKPLACE WELLBEING</h4>
      <h6>The key to a thriving businesss</h6>
      <p>By prioritising the mental, physical, and emotional well-being of your teams, you create an environment <br> where employees feel valued, supported, and motivated to give their best every day.</p>
    </div>
    <div class="module-info">
      <div class="module-pros">
        <h5>INCREASED PRODUCTIVITY</h5>
        <%= image_tag "WW-1" %>
        <p>When employees are physically and mentally well, they are more likely to collaborate effectively, innovate, and contribute to achieving your business goals.</p>
      </div>
      <div class="module-pros">
        <h5>REDUCED<br> TURNOVER</h5>
        <%= image_tag "WW-2" %>
        <p>Investing in employee wellbeing helps to retain talented individuals who appreciate the organisation's commitment to their overall wellbeing.</p>
      </div>
      <div class="module-pros">
        <h5>BOOST EMPLOYEE ENGAGEMENT</h5>
        <%= image_tag "WW-3" %>
        <p>By investing in your team’s wellbeing, you create an environment where employees feel engaged, motivated, and connected to their work.</p>
      </div>
    </div>
    <div class="module-cta">
      <p>Discover our Workplace Wellbeing training content</p>
      <%= link_to "GET IN TOUCH", "#", class: 'cta-button' %>
    </div>
  </div>

  <div class="io-module">
    <div class="module-heading">
      <h4>HEALTH & SAFETY</h4>
      <h6>Safeguarding employees and organisations.</h6>
      <p>In today's dynamic work environment, prioritising health and safety training is not <br> just a regulatory requirement but a strategic imperative crucial to the integrity of the <br> organisation.</p>
    </div>
    <div class="module-info">
      <div class="module-pros">
        <h5>PROTECTING EMPLOYEE WELL-BEING</h5>
        <%= image_tag "health-1" %>
        <p>A safe work environment increases employee trust and loyalty, leading to higher job satisfaction. Moreover, showing commitment to health and safety enhances the organisation's reputation.</p>
      </div>
      <div class="module-pros">
        <h5>LONG-TERM SUSTAINABILITY</h5>
        <%= image_tag "health-2" %>
        <p>Consistent health and safety training contribute to the longevity and resilience of the organisation. A safe workplace attracts and retains talent, contributing to overall success and growth.</p>
      </div>
      <div class="module-pros">
        <h5>ENHANCED ENGAGEMENT AND MOTIVATION</h5>
        <%= image_tag "health-3" %>
        <p>VR's novelty and interactivity captivate learners, fostering higher engagement and excitement, which increases motivation to complete training modules.</p>
      </div>
    </div>
    <div class="module-cta">
      <p>Discover our Health & Safety training content</p>
      <%= link_to "GET IN TOUCH", "#", class: 'cta-button' %>
    </div>
  </div>

  <div class="io-module">
    <div class="module-heading">
      <h4>DIVERSITY & INCLUSION</h4>
      <h6>An eye-opening experience</h6>
      <p>Our D&I VR training is here to assist your organisation in ensuring you get the best out of your people.</p>
    </div>
    <div class="module-info">
      <div class="module-pros">
        <h5>MITIGATING BIAS AND STEREOTYPES</h5>
        <%= image_tag "d&i-1" %>
        <p>Diversity and inclusion training addresses unconscious biases, fostering fair treatment and reducing discrimination. Employees learn to recognise and challenge biases that may affect teamwork and creativity.</p>
      </div>
      <div class="module-pros">
        <h5>BEHAVIOURAL <br> CHANGE</h5>
        <%= image_tag "d&i-2" %>
        <p>VR's immersive nature promotes behavioural change by allowing learners to experience the impact of their words and actions. Employees internalise the importance of respectful communication and behaviours.</p>
      </div>
      <div class="module-pros">
        <h5>CULTIVATING INCLUSIVE MINDSETS</h5>
        <%= image_tag "d&i-3" %>
        <p>Diversity and inclusion training promote awareness and understanding of various backgrounds, perspectives, and experiences. Employees develop inclusive mindsets that enrich collaboration and decision-making.</p>
      </div>
    </div>
    <div class="module-cta">
      <p>Discover our Diversity & Inclusion training content</p>
      <%= link_to "GET IN TOUCH", "#", class: 'cta-button' %>
    </div>
  </div>

  <div class="io-module">
    <div class="module-heading">
      <h4>DIVERSITY & INCLUSION</h4>
      <h6>An eye-opening experience</h6>
      <p>Our D&I VR training is here to assist your organisation in ensuring you get the best out of your people.</p>
    </div>
    <div class="module-info">
      <div class="module-pros">
        <h5>MITIGATING BIAS AND STEREOTYPES</h5>
        <%= image_tag "d&i-1" %>
        <p>Diversity and inclusion training addresses unconscious biases, fostering fair treatment and reducing discrimination. Employees learn to recognise and challenge biases that may affect teamwork and creativity.</p>
      </div>
      <div class="module-pros">
        <h5>BEHAVIOURAL <br> CHANGE</h5>
        <%= image_tag "d&i-2" %>
        <p>VR's immersive nature promotes behavioural change by allowing learners to experience the impact of their words and actions. Employees internalise the importance of respectful communication and behaviours.</p>
      </div>
      <div class="module-pros">
        <h5>CULTIVATING INCLUSIVE MINDSETS</h5>
        <%= image_tag "d&i-3" %>
        <p>Diversity and inclusion training promote awareness and understanding of various backgrounds, perspectives, and experiences. Employees develop inclusive mindsets that enrich collaboration and decision-making.</p>
      </div>
    </div>
    <div class="module-cta">
      <p>Discover our Diversity & Inclusion training content</p>
      <%= link_to "GET IN TOUCH", "#", class: 'cta-button' %>
    </div>
  </div>

  <div class="io-module">
    <div class="module-heading">
      <h4>DIVERSITY & INCLUSION</h4>
      <h6>An eye-opening experience</h6>
      <p>Our D&I VR training is here to assist your organisation in ensuring you get the best out of your people.</p>
    </div>
    <div class="module-info">
      <div class="module-pros">
        <h5>MITIGATING BIAS AND STEREOTYPES</h5>
        <%= image_tag "d&i-1" %>
        <p>Diversity and inclusion training addresses unconscious biases, fostering fair treatment and reducing discrimination. Employees learn to recognise and challenge biases that may affect teamwork and creativity.</p>
      </div>
      <div class="module-pros">
        <h5>BEHAVIOURAL <br> CHANGE</h5>
        <%= image_tag "d&i-2" %>
        <p>VR's immersive nature promotes behavioural change by allowing learners to experience the impact of their words and actions. Employees internalise the importance of respectful communication and behaviours.</p>
      </div>
      <div class="module-pros">
        <h5>CULTIVATING INCLUSIVE MINDSETS</h5>
        <%= image_tag "d&i-3" %>
        <p>Diversity and inclusion training promote awareness and understanding of various backgrounds, perspectives, and experiences. Employees develop inclusive mindsets that enrich collaboration and decision-making.</p>
      </div>
    </div>
    <div class="module-cta">
      <p>Discover our Diversity & Inclusion training content</p>
      <%= link_to "GET IN TOUCH", "#", class: 'cta-button' %>
    </div>
  </div>

  <div class="io-module">
    <div class="module-heading">
      <h4>DIVERSITY & INCLUSION</h4>
      <h6>An eye-opening experience</h6>
      <p>Our D&I VR training is here to assist your organisation in ensuring you get the best out of your people.</p>
    </div>
    <div class="module-info">
      <div class="module-pros">
        <h5>MITIGATING BIAS AND STEREOTYPES</h5>
        <%= image_tag "d&i-1" %>
        <p>Diversity and inclusion training addresses unconscious biases, fostering fair treatment and reducing discrimination. Employees learn to recognise and challenge biases that may affect teamwork and creativity.</p>
      </div>
      <div class="module-pros">
        <h5>BEHAVIOURAL <br> CHANGE</h5>
        <%= image_tag "d&i-2" %>
        <p>VR's immersive nature promotes behavioural change by allowing learners to experience the impact of their words and actions. Employees internalise the importance of respectful communication and behaviours.</p>
      </div>
      <div class="module-pros">
        <h5>CULTIVATING INCLUSIVE MINDSETS</h5>
        <%= image_tag "d&i-3" %>
        <p>Diversity and inclusion training promote awareness and understanding of various backgrounds, perspectives, and experiences. Employees develop inclusive mindsets that enrich collaboration and decision-making.</p>
      </div>
    </div>
    <div class="module-cta">
      <p>Discover our Diversity & Inclusion training content</p>
      <%= link_to "GET IN TOUCH", "#", class: 'cta-button' %>
    </div>
  </div>

</div>
