<div class="io-landing-section">
  <h3 id="io-title">IO</h3>

  <div class="io-info">
    <p>Our suite of ever-expanding, industry-standard learning content. Consistently <br> updated with new training content from leading partners in their field.</p>
    <p>Expertly curated for all teams.</p>
    <p>Our essentials suite provides industry-standard best practices, certified by CPD.</p>
    <p>IO is a masterclass in navigating through daily workplace scenarios from Diversity and Inclusion to Health and Safety and Well-being.</p>
  </div>

  <div class="io-stats">
    <div class="io-stat">
      <h3>40<span class="percent">%</span></h3>
      <p>of VR learners saw an improvement in <br> confidence compared to those in the <br> classroom.</p>
    </div>
    <div class="io-stat">
      <h3>75<span class="percent">%</span></h3>
      <p>said that during the VR course they had a ‘wake-up-call’ moment and realised that they were not as inclusive as they thought they were.</p>
    </div>
     <div class="io-stat">
      <h3>400<span class="percent">%</span></h3>
      <p>VR learners are 4x more focused <br> than their e-learning peers.</p>
    </div>
  </div>
  <div class="scroll-cta">
      <p id="io-scroll">Explore IO's training offering</p>
      <%= image_tag 'scroll-down', class: "scroll-icon" %>
    </div>
  </div>

<div class="page-dividers">
  <%= image_tag 'gradient-left' %>
  <%= image_tag 'gradient-right' %>
</div>

<div class="io-modules">
  <h3>IO TRAINING MODULES</h3>
  <div class="io-module">
    <div class="module-heading">
      <h4>DIVERSITY & INCLUSION</h4>
      <h6>An eye-opening experience</h6>
      <p>Our D&I VR training is here to assist your organisation in ensuring you get the best out of your people.</p>
    </div>
    <div class="module-info">
      <div class="module-pros">
        <h5>MITIGATING BIAS AND STEREOTYPES</h5>
        <%= image_tag "d&i-1" %>
        <p>Diversity and inclusion training addresses unconscious biases, fostering fair treatment and reducing discrimination. Employees learn to recognise and challenge biases that may affect teamwork and creativity.</p>
      </div>
      <div class="module-pros">
        <h5>BEHAVIOURAL <br> CHANGE</h5>
        <%= image_tag "d&i-2" %>
        <p>VR's immersive nature promotes behavioural change by allowing learners to experience the impact of their words and actions. Employees internalise the importance of respectful communication and behaviours.</p>
      </div>
      <div class="module-pros">
        <h5>CULTIVATING INCLUSIVE MINDSETS</h5>
        <%= image_tag "d&i-3" %>
        <p>Diversity and inclusion training promote awareness and understanding of various backgrounds, perspectives, and experiences. Employees develop inclusive mindsets that enrich collaboration and decision-making.</p>
      </div>
    </div>
    <div class="module-cta">
      <p>Discover our Diversity & Inclusion training content</p>
      <%= link_to "GET IN TOUCH", "#", class: 'cta-button' %>
    </div>
  </div>

  <div class="io-module">
    <div class="module-heading">
      <h4>WORKPLACE WELLBEING</h4>
      <h6>The key to a thriving businesss</h6>
      <p>By prioritising the mental, physical, and emotional well-being of your teams, you create an environment <br> where employees feel valued, supported, and motivated to give their best every day.</p>
    </div>
    <div class="module-info">
      <div class="module-pros">
        <h5>INCREASED PRODUCTIVITY</h5>
        <%= image_tag "WW-1" %>
        <p>When employees are physically and mentally well, they are more likely to collaborate effectively, innovate, and contribute to achieving your business goals.</p>
      </div>
      <div class="module-pros">
        <h5>REDUCED<br> TURNOVER</h5>
        <%= image_tag "WW-2" %>
        <p>Investing in employee wellbeing helps to retain talented individuals who appreciate the organisation's commitment to their overall wellbeing.</p>
      </div>
      <div class="module-pros">
        <h5>BOOST EMPLOYEE ENGAGEMENT</h5>
        <%= image_tag "WW-3" %>
        <p>By investing in your team’s wellbeing, you create an environment where employees feel engaged, motivated, and connected to their work.</p>
      </div>
    </div>
    <div class="wellbeing-extra">
      <%= image_tag "wellbeing-icon" %>
      <h6>Enhancing Wellness and Productivity through Virtual Reality Meditation.</h6>
      <p>Meditation is a gym for our minds, so we decided to include it in this module. <br>
        You will be guided through a 1-minute and a 5-minute session, which you can return to any time you need.</p>
    </div>
    <div class="module-cta">
      <p>Discover our Workplace Wellbeing training content</p>
      <%= link_to "GET IN TOUCH", "#", class: 'cta-button' %>
    </div>
  </div>

  <div class="io-module">
    <div class="module-heading">
      <h4>HEALTH & SAFETY</h4>
      <h6>Safeguarding employees and organisations.</h6>
      <p>In today's dynamic work environment, prioritising health and safety training is not <br> just a regulatory requirement but a strategic imperative crucial to the integrity of the <br> organisation.</p>
    </div>
    <div class="module-info">
      <div class="module-pros">
        <h5>PROTECTING EMPLOYEE WELL-BEING</h5>
        <%= image_tag "health-1" %>
        <p>A safe work environment increases employee trust and loyalty, leading to higher job satisfaction. Moreover, showing commitment to health and safety enhances the organisation's reputation.</p>
      </div>
      <div class="module-pros">
        <h5>LONG-TERM SUSTAINABILITY</h5>
        <%= image_tag "health-2" %>
        <p>Consistent health and safety training contribute to the longevity and resilience of the organisation. A safe workplace attracts and retains talent, contributing to overall success and growth.</p>
      </div>
      <div class="module-pros">
        <h5>ENHANCED ENGAGEMENT AND MOTIVATION</h5>
        <%= image_tag "health-3" %>
        <p>VR's novelty and interactivity captivate learners, fostering higher engagement and excitement, which increases motivation to complete training modules.</p>
      </div>
    </div>
    <div class="module-cta">
      <p>Discover our Health & Safety training content</p>
      <%= link_to "GET IN TOUCH", "#", class: 'cta-button' %>
    </div>
  </div>

  <div class="io-module">
    <div class="module-heading">
      <h4>MANUAL HANDLING</h4>
      <h6>Elevating organisational's safety.</h6>
      <p>Manual Handling Training is more than just a regulatory requirement; it is a strategic investment that can <br> transform your workplace culture and ensure the well-being of your employees.</p>
    </div>
    <div class="module-info">
      <div class="module-pros">
        <h5>SAFE ENVIRONMENT <br> FOR PRACTICE</h5>
        <%= image_tag "MH-1" %>
        <p>VR eliminates the risk of injuries associated with physical training, as employees practice in a safe virtual space. Employees gain practical experience without exposing themselves to actual risks.</p>
      </div>
      <div class="module-pros">
        <h5>OPERATIONAL <br> EFFICIENCY</h5>
        <%= image_tag "MH-2" %>
        <p>Competent manual handling skills lead to smoother workflow processes and optimised task execution. Decreased instances of accidents or injuries translate to uninterrupted operations and higher efficiency.</p>
      </div>
      <div class="module-pros">
        <h5>COMPLIANCE AND <br> RISK MITIGATION</h5>
        <%= image_tag "MH-3" %>
        <p>Our Manual Handling Training helps you meet legal requirements while mitigating the risk of fines, penalties, and legal liabilities.</p>
      </div>
    </div>
    <div class="module-cta">
      <p>Discover our Manual Handling training content</p>
      <%= link_to "GET IN TOUCH", "#", class: 'cta-button' %>
    </div>
  </div>

  <div class="io-module">
    <div class="module-heading">
      <h4>FIRE AWARENESS</h4>
      <h6>Knowledge that saves lives and protects organisations.</h6>
      <p>Understanding how to prevent, respond to, and manage fire emergencies is not only a legal obligation but a fundamental <br> responsibility for everyone across the business. In the pursuit of innovative training solutions, Virtual Reality emerges as a <br> game-changer to revolutionise fire awareness training, making it engaging, effective, and memorable.</p>
    </div>
    <div class="module-info">
      <div class="module-pros">
        <h5>EMERGENCY PREPAREDNESS</h5>
        <%= image_tag "FA-1" %>
        <p>Fire awareness training provides employees essential knowledge to identify potential fire hazards and respond promptly to emergencies.
          Employees become proactive in fire prevention and proficient in using fire safety equipment.</p>
      </div>
      <div class="module-pros">
        <h5>REALISTIC STRESS EXPOSURE</h5>
        <%= image_tag "FA-2" %>
        <p>VR exposes learners to realistic stress factors associated with fire emergencies, preparing them mentally for high-pressure situations.
          Employees are prepared to think clearly and act rationally during emergencies.</p>
      </div>
      <div class="module-pros">
        <h5>LEGAL COMPLIANCE</h5>
        <%= image_tag "FA-3" %>
        <p>It is mandatory to comply with fire safety regulations to ensure the safety of employees and visitors.
          Proper training ensures that everyone across the business is informed about evacuation procedures and fire safety protocols.</p>
      </div>
    </div>
    <div class="module-cta">
      <p>Discover our Fire Awareness training content</p>
      <%= link_to "GET IN TOUCH", "#", class: 'cta-button' %>
    </div>
  </div>

  <div class="io-module">
    <div class="module-heading">
      <h4>CONFLICT RESOLUTION</h4>
      <h6>Cultivating organisational harmony.</h6>
      <p>The ability to effectively manage conflicts reduces tension and enhances productivity and employee well-<br>being. As organisations seek innovative approaches to empower their workforce, Virtual Reality steps <br> forward as a transformative tool to revolutionise conflict resolution training.</p>
    </div>
    <div class="module-info">
      <div class="module-pros">
        <h5>WORKPLACE <br> COHESION</h5>
        <%= image_tag "CR-1" %>
        <p>Conflict resolution training equips employees with essential skills to manage disagreements constructively. Teams learn to resolve issues amicably, fostering a healthy work environment and boosting morale.</p>
      </div>
      <div class="module-pros">
        <h5>EMPATHY AND PERSPECTIVE-TAKING</h5>
        <%= image_tag "CR-2" %>
        <p>VR scenarios enable learners to step into the shoes of others, promoting compassion and better understanding of differing viewpoints. Employees learn to approach conflicts with empathy and respect.</p>
      </div>
      <div class="module-pros">
        <h5>REDUCED STRESS <br> AND BURNOUT</h5>
        <%= image_tag "CR-3" %>
        <p>Handling conflicts in a healthy manner reduces stress and emotional fatigue on employees.
          Resolving disputes properly contributes to overall well-being and mental health, which boost productivity and collaboration.</p>
      </div>
    </div>
    <div class="module-cta">
      <p>Discover our Conflict Resolution training content</p>
      <%= link_to "GET IN TOUCH", "#", class: 'cta-button' %>
    </div>
  </div>

  <div class="io-module">
    <div class="module-heading">
      <h4>SOFT SKILLS</h4>
      <h6>Weaving together effective communication, empathy, teamwork, and leadership.</h6>
      <p>Soft skills transcend job roles, enhancing both individual growth and organisational excellence. As <br> organisations strive to nurture a well-rounded workforce, Virtual Reality emerges as a transformative tool <br> to revolutionise soft skills training.</p>
    </div>
    <div class="module-info">
      <div class="module-pros">
        <h5>EMPATHETIC ENGAGEMENT</h5>
        <%= image_tag "SS-1" %>
        <p>VR immerses learners in situations that prompt reflection, empathy and perspective-taking. Through virtual interactions, employees develop a deeper understanding of diverse viewpoints.</p>
      </div>
      <div class="module-pros">
        <h5>VARIED TRAINING SCENARIOS</h5>
        <%= image_tag "SS-2" %>
        <p>VR training replicates various workplace contexts and situations, exploring soft skills in different scenarios. This helps learners to understand the dynamics and results of different approaches and communication styles.</p>
      </div>
      <div class="module-pros">
        <h5>EMPATHY AND EMOTIONAL INTELLIGENCE</h5>
        <%= image_tag "SS-3" %>
        <p>Soft skills training nurtures emotional intelligence, allowing for deeper connections and understanding of colleagues' perspectives and emotions. This results in stronger teamwork, which fosters innovation, synergy, and a cohesive work environment.</p>
      </div>
    </div>
    <div class="module-cta">
      <p>Discover our Soft Skills training content</p>
      <%= link_to "GET IN TOUCH", "#", class: 'cta-button' %>
    </div>
  </div>

</div>

<div class="wts-section">
      <%= image_tag "IO-wts" %>
      <p>Watch this space! More training modules will be coming soon.</p>
</div>
