<div class="navbar container">
<%= image_tag 'moonhub-logo' %>
<%= link_to "HOME", root_path %>
<%= link_to "TRAINING", root_path %>
<%= link_to "ABOUT", root_path %>
<%= link_to "BLOG", root_path %>
<%= link_to "CONTACT", root_path %>
<%= link_to "LOG IN", root_path %>
<%= link_to "SHOP", root_path %>
</div>
