<div class="careers-section">
  <div class="careers-title">
    <%= image_tag 'about-icon-left', class: "careers-icon" %>
    <h3>INTERSTELLAR TEAMWORK</h3>
  </div>

  <div class="careers-desc">
  <h5>We are on a mission to transform learning at scale through Virtual Reality</h5>
    <%= image_tag 'about-icon-left', class: "careers-icon" %>
  </div>

  <div class="careers-tag">
    <p>It may seem like a mammoth task, but the team at MOONHUB isn’t fazed by it. In fact, they are all up for a challenge or two. <br> Together we work hard, we bounce ideas off each other, and we have lots of snacks.</p>
  </div>

  <div class="career-benefits">
    <h3>BENEFITS OF WORKING WITH US</h3>
    <div class="benefits">
      <div class="row justify-content-around mb-5">
        <div class="col-3 benefit">
          <%= image_tag "benefit-1" %>
          <h5> Flexible working</h5>
        </div>
        <div class="col-3 benefit">
          <%= image_tag "benefit-2"%>
          <h5> Innovative workspace</h5>
        </div>
        <div class="col-3 benefit">
          <%= image_tag "benefit-3" %>
          <h5> Learning & Growth</h5>
        </div>
      </div>
      <div class="row justify-content-around mb-5">
        <div class="col-3 benefit">
          <%= image_tag "benefit-4" %>
          <h5> Equity options</h5>
        </div>
        <div class="col-3 benefit">
          <%= image_tag "benefit-5" %>
          <h5> Private healthcare insurance</h5>
        </div>
        <div class="col-3 benefit">
          <%= image_tag "benefit-6" %>
          <h5> Enhanced parental leave</h5>
        </div>
      </div>
    </div>
  </div>


  <div class="career-cta">
    <h3>WANT TO VENTURE WITH US?</h3>
    <p>We currently have no more space in our rocket ship, but we are always expanding! <br> Send a copy of your CV to <span id="moonhub-email"> moonbase@themoonhub.com </span> and we will notify you when <br> a suitable role becomes available!</p>
  </div>
</div>
