<div class="press-section">
  <div class="press-title">
    <%= image_tag 'about-icon-left', class: "press-icon" %>
    <h3>OUR MOONLIT EXPERIENCES</h3>
  </div>

  <div class="press-desc">
    <p>Explore the articles and blogs where we've left our cosmic footprints.</p>
    <%= image_tag 'about-icon-left', class: "press-icon" %>
  </div>


  <div class="cards-container">
    <div class="row justify-content-around mb-5">
      <div class="col-3">
      <%= link_to root_path  do %>
        <div class="press-blog">
          <%= image_tag "press-1" %>
          <div class="press-blog-infos">
            <div>
              <h2>How we harnessed the power ot VR to support health workers</h2>
              <p>16 June 2023</p>
            </div>
          </div>
        </div>
      <% end %>
      </div>

      <div class="col-3">
      <%= link_to root_path do %>
        <div class="press-blog">
          <%= image_tag "press-2" %>
          <div class="press-blog-infos">
            <div>
              <h2>Welcome to our new MH-07 office space</h2>
              <p>16 June 2023</p>
            </div>
          </div>
        </div>
      <% end %>
      </div>

      <div class="col-3">
      <%= link_to root_path  do %>
        <div class="press-blog">
          <%= image_tag "press-3" %>
          <div class="press-blog-infos">
            <div>
              <h2>Supporting workplace wellbeing through Virtual Reality</h2>
              <p>16 June 2023</p>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>

    <div class="row justify-content-around mb-5">
      <div class="col-3">
        <%= link_to root_path  do %>
          <div class="press-blog">
            <%= image_tag "press-4" %>
            <div class="press-blog-infos">
              <div>
                <h2>We are upgrading our headsets</h2>
                <p>16 June 2023</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-3">
      <%= link_to root_path  do %>
        <div class="press-blog">
          <%= image_tag "press-5" %>
          <div class="press-blog-infos">
            <div>
              <h2>Changing corporate cultures</h2>
              <p>16 June 2023</p>
            </div>
          </div>
        </div>
      <% end %>
      </div>

      <div class="col-3">
      <%= link_to root_path do %>
        <div class="press-blog">
          <%= image_tag "press-6" %>
          <div class="press-blog-infos">
            <div>
              <h2>The future of VR</h2>
              <p>16 June 2023</p>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>


    <div class="row justify-content-around mb-5">
      <div class="col-3">
      <%= link_to root_path  do %>
        <div class="press-blog">
          <%= image_tag "press-3" %>
          <div class="press-blog-infos">
            <div>
              <h2>Supporting workplace wellbeing through Virtual Reality</h2>
              <p>16 June 2023</p>
            </div>
          </div>
        </div>
      <% end %>
      </div>

      <div class="col-3">
      <%= link_to root_path  do %>
        <div class="press-blog">
          <%= image_tag "press-1" %>
          <div class="press-blog-infos">
            <div>
              <h2>How we harnessed the power ot VR to support health workers</h2>
              <p>16 June 2023</p>
            </div>
          </div>
        </div>
      <% end %>
      </div>

      <div class="col-3">
      <%= link_to root_path  do %>
        <div class="press-blog">
          <%= image_tag "press-2" %>
          <div class="press-blog-infos">
            <div>
              <h2>Welcome to our new MH-07 office space</h2>
              <p>16 June 2023</p>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>


  </div>

  <div class="load-more">
    <button>LOAD MORE</button>

      <div class="cards-container d-none">
      <div class="row justify-content-around mb-5">
        <div class="col-3">
        <%= link_to root_path  do %>
          <div class="press-blog">
            <%= image_tag "press-1" %>
            <div class="press-blog-infos">
              <div>
                <h2>How we harnessed the power ot VR to support health workers</h2>
                <p>16 June 2023</p>
              </div>
            </div>
          </div>
        <% end %>
        </div>

        <div class="col-3">
        <%= link_to root_path do %>
          <div class="press-blog">
            <%= image_tag "press-2" %>
            <div class="press-blog-infos">
              <div>
                <h2>Welcome to our new MH-07 office space</h2>
                <p>16 June 2023</p>
              </div>
            </div>
          </div>
        <% end %>
        </div>

        <div class="col-3">
        <%= link_to root_path  do %>
          <div class="press-blog">
            <%= image_tag "press-3" %>
            <div class="press-blog-infos">
              <div>
                <h2>Supporting workplace wellbeing through Virtual Reality</h2>
                <p>16 June 2023</p>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>

      <div class="row justify-content-around mb-5">
        <div class="col-3">
          <%= link_to root_path  do %>
            <div class="press-blog">
              <%= image_tag "press-4" %>
              <div class="press-blog-infos">
                <div>
                  <h2>We are upgrading our headsets</h2>
                  <p>16 June 2023</p>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="col-3">
        <%= link_to root_path  do %>
          <div class="press-blog">
            <%= image_tag "press-5" %>
            <div class="press-blog-infos">
              <div>
                <h2>Changing corporate cultures</h2>
                <p>16 June 2023</p>
              </div>
            </div>
          </div>
        <% end %>
        </div>

        <div class="col-3">
        <%= link_to root_path do %>
          <div class="press-blog">
            <%= image_tag "press-6" %>
            <div class="press-blog-infos">
              <div>
                <h2>The future of VR</h2>
                <p>16 June 2023</p>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>


      <div class="row justify-content-around mb-5">
        <div class="col-3">
        <%= link_to root_path  do %>
          <div class="press-blog">
            <%= image_tag "press-3" %>
            <div class="press-blog-infos">
              <div>
                <h2>Supporting workplace wellbeing through Virtual Reality</h2>
                <p>16 June 2023</p>
              </div>
            </div>
          </div>
        <% end %>
        </div>

        <div class="col-3">
        <%= link_to root_path  do %>
          <div class="press-blog">
            <%= image_tag "press-1" %>
            <div class="press-blog-infos">
              <div>
                <h2>How we harnessed the power ot VR to support health workers</h2>
                <p>16 June 2023</p>
              </div>
            </div>
          </div>
        <% end %>
        </div>

        <div class="col-3">
        <%= link_to root_path  do %>
          <div class="press-blog">
            <%= image_tag "press-2" %>
            <div class="press-blog-infos">
              <div>
                <h2>Welcome to our new MH-07 office space</h2>
                <p>16 June 2023</p>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>


    </div>

  </div>
</div>
